numpy==1.26.4
opencv_python==4.7.0.72
loguru==0.7.0
scikit-image
scikit-learn
tqdm==4.67.1
torch==2.6.0
torchvision==0.21.0
Pillow==11.2.1
thop
ninja==1.11.1
tabulate==0.9.0
tensorboard
lap
motmetrics
filterpy
h5py==3.8.0
matplotlib==3.6.3
scipy
prettytable
easydict
tensorboard
pyyaml
yacs
termcolor
gdown

onnx==1.12.0
onnxruntime==1.14.1
onnx-simplifier==0.4.28


